
    <div class="tag-line">
      <h3>Bored of normal weekly reports ? Try something new this week ! </h3>
    </div>
    <div class="steps-box">
      <img src="step1-yammer.png"> </img>
      <img src="step2-write.png"></img>
      <img src="step3-send.png"></img>
    </div>
    <div class="step-desc">
     <span class="steps-text" style="">Login with yammer</span>
     <span class="steps-text" style="margin-left: 2%;">Write a report</span>
     <span class="steps-text" style="">send it</span>
     <div class ="done"> .... and DONE ! <div>
    </div>
    <div class="button-wrapper">
      <a class="start-button" href="https://www.yammer.com/dialog/oauth?client_id=7HbmqEWoS7at6ID0pemSg&redirect_uri=http://www.avivarma.com:4000/auth">Let's Go !</a>
    </div>  
