[DEV] <br>
hello there !<br><br>
Start with <a href="https://www.yammer.com/dialog/oauth?client_id=7HbmqEWoS7at6ID0pemSg&redirect_uri=http://www.avivarma.com:4000/auth">Yammer Authentication </a>..

