<div style="padding-top: 13%;">
  <!-- Fav and touch icons -->
  <link rel="shortcut icon" href="../assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  
  <div>  
    <!--  <img src="cover-cup.jpg"> -->
    <span style="text-align: center;"><h1> Are you bored of normal weekly reports ? <br><br> Try something <span style="color: #de4323;">new</span> this week !</h1></span>
  </div>
  
  <!-- START THE FEATURETTES -->
  <div class="steps-box">
    
    <div style="margin-top: 10px;text-align: center;margin-bottom: 40px;"><h4>Prepare your weekly report in <span style="color: #de4323;"><b>3</b></span> simple steps.</h4></div>
    <div class="step-img"><img src="step1-yammer.png"></div>
    <div class="step-img"><img src="step2-write.png"></div>
    <div class="step-img"><img src="step3-preview.png"></div> 
    <div class="step-img"><img src="step3-send.png"></div> 
    
    <br><br>
    
    <div class="step-txt"><span style="color: #de4323;"><b>1 </b></span>Login</div>
    <div class="step-txt"><span style="color: #de4323;"><b>2 </b></span>Write</div>
    <div class="step-txt"><span style="color: #de4323;"><b>3 </b></span>Preview</div>        
    <div class="step-txt">.. DONE ! </div>   
    
    <h3 style="display: inline;margin-top: -55px;margin-left:-20px;padding:0;position: absolute;"><a class="start-button" style="text-decoration: none;color: #de4323;" href="https://www.yammer.com/dialog/oauth?client_id=7HbmqEWoS7at6ID0pemSg&redirect_uri=http://www.avivarma.com:4000/auth">Let's try !</a></h3>
  </div>
</div>