<div class="mr-logo">
	<div class="mr-message">
        Report sent to <span style="color:#c7141a;"><b> <%= @emailTo %> </b></span><br><br>
        TGIF ! Have a nice weekend ! :)
        </div>





