<!DOCTYPE html>
<html>
  <head>
    <title>Myreport</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="header-bar">
      <h2>MyReport</h2>
      <!--  <img src="logo-myreport1.png" /> -->
      <div class="header-text">
        <a href="#"> Huh ? </a>
        <a href="#"> Blog </a>
        <a href="#"> Feedback </a>
      </div>  
    </div>
  
    <%= yield %>
  </body>
</html>
